{{#layout}} 
<div id="code-editor" class="{{klass}}">
  <form action="#/templates/{{id}}" method= "post" id="edit-layout" class="command-save">  
    <div class="hidden">
      <input type="hidden" name="_method" value="put" /> 
    </div>
      
    <div class="tabs">
      <!--label for="layout_name">Name</label-->
      <input type="text" id="layout_name" name="layout[name]" value="{{name}}" class="textfield" />
    </div> 
    
    <div class="code">   
      <textarea id="layout_content" name="layout[content]" class="{{mode}}"></textarea>
    </div>     
    
    <div class="buttons"> 
      <div class="field"> 
        <select id="layout-filter" class="select" name="layout[filter]"> 
          {{#filters}}
          <option value="{{value}}" {{selected}}>{{name}}</option>
          {{/filters}}
        </select>
        <input type="submit" id="save-layout" value="Save" class="button" />    
      </div>
    </div>
  </form>  
  {{#layout?}}
  <div id="parts">
    <h1>Parts</h2>
    <ul>
      <li>
        <h2>page.title</h2>    
      </li>
      <li>
        <h2>page.slug</h2>    
      </li>  
      {{#part_types}}  
      <li>
        <h2>page.data.{{name}}</h2>    
      </li> 
      {{/part_types}}  
    </ul>
    <div id="add-layout-part">
      <form id="new-layout-part" action="#/layouts/{{id}}/parts" method="post">   
        <div class="hidden">
          <input type="hidden" name="part[template_id]" value="{{id}}" />
        </div>
        <div class="field">
          <select name="part[kind]">
            <option value="Part">Text Area</option>
            <option value="ImagePart">Image</option>
            <option value="MultiImagePart">Gallery</option>
          </select>
        </div>
        <div class="field">
          <input type="text" name="part[name]" />
        </div>  
        <div class="field">
          <input type="submit" value="Create" />
        </div>
      </form>
    </div>
  </div>  
  {{/layout?}}
</div>  
{{/layout}}