<h2>Layouts</h2> 
<ul>
  {{#layouts}} 
    <li class="layout" id="layout-{{id}}">
      <span class="Name"> 
         <a id id="edit-layout-{{id}}" href="#/templates/{{id}}/edit">{{name}}</a>       
      </span> 
      <span class="modify">                 
        <a class="remove-layout" id="remove-layout-{{id}}" href="#/layouts/{{id}}/remove">x</a> 
      </span>
    </li>  
  {{/layouts}}  
</ul>   

<h2>Stylesheets</h2>  
<ul>     
{{#stylesheets}} 
  <li class="layout" id="layout-{{id}}">
    <span class="Name"> 
       <a id id="edit-layout-{{id}}" href="#/templates/{{id}}/edit">{{name}}</a>       
    </span> 
    <span class="modify">                 
      <a class="remove-layout" id="remove-layout-{{id}}" href="#/layouts/{{id}}/remove">x</a> 
    </span>
  </li>
{{/stylesheets}} 
</ul>
    
<h2>Javascripts</h2>
<ul>
{{#javascripts}} 
  <li class="layout" id="layout-{{id}}">
    <span class="Name"> 
       <a id id="edit-layout-{{id}}" href="#/templates/{{id}}/edit">{{name}}</a>       
    </span> 
    <span class="modify">                 
      <a class="remove-layout" id="remove-layout-{{id}}" href="#/layouts/{{id}}/remove">x</a> 
    </span>
  </li>
{{/javascripts}}     
</ul>

<h2>Partials</h2>
<ul>
{{#partials}} 
  <li class="layout" id="layout-{{id}}">
    <span class="Name"> 
       <a id id="edit-layout-{{id}}" href="#/templates/{{id}}/edit">{{name}}</a>       
    </span> 
    <span class="modify">                 
      <a class="remove-layout" id="remove-layout-{{id}}" href="#/layouts/{{id}}/remove">x</a> 
    </span>
  </li>
{{/partials}}     
</ul>
