<li class="layout" id="layout-{{id}}"> 
  <div class="item"> 
    <span class="title"> 
       <a id id="edit-layout-{{id}}" href="/admin/templates/{{id}}/edit">{{name}}</a>       
    </span> 
    <span class="modify">                 
      <a class="remove-layout" id="remove-layout-{{id}}" href="/admin/templates/{{id}}/remove">x</a> 
    </span>  
  </div>
</li>