{{#page}}   
<div class="toolbar">   
  <h1 id="page-title-{{id}}">
    {{title}}
    
  </h1>
  <ul class="tabs">
    <li><a class="tab" href="{{admin_path}}">preview</a></li>
    <li><a class="tab active" href="{{admin_path}}/edit">properties</a></li>
    <!-- TODO Temp!! change this back to parts -->
    {{# contents }}
      <li><a class="tab {{ name }}-tab" href="{{admin_path}}/edit">{{ name }}</a></li>
    {{/ contents }}
  </ul>
</div>

<div id="page-editor">
  
  <div class="edit-window">
    <div class="tabs" id="page-tabs-{{id}}"> 
      <form action="/admin/pages/{{id}}" method= "post" id="edit-page" class="command-save">  

        <!--p><a href="#/pages/{{id}}/parts/new">Add Part</a></p-->  
        <div class="page-properties tab">
          <div class="hidden">
            <input type="hidden" name="_method" value="put" /> 
          </div>

          <div class="field" id="page-title-field">   
            <label for="page-title">Title</label>
            <input type="text" id="page-title" name="page[title]" value="{{title}}" class="textfield" />  
          </div> 

          <div class="field"> 
            <label for="page-slug">Slug</label>
            <input type="text" id="page-slug" name="page[slug]" value="{{slug}}" class="textfield" />  
          </div>  

          <div class="field">
            <label for="asset_tags">Tags</label> 
            <input type="text" name="page[tag_list]" id="page-tag-list" value="{{tag_list}}" class="textfield" /> 
          </div>

          <div class="select-boxes">
            <label for="page-layout">Layout</label> 
            <select id="page-layout" class="select" name="page[layout_id]"> 
              {{#layouts}}
              <option value="{{id}}" {{selected}}>{{name}}</option>
              {{/layouts}}
            </select>  
          </div>
        </div><!-- .page-properties -->

        <div class="actions">
          <input type="submit" id="page_save" value="Save" class="button" />   
          <a href="/admin/pages/{{id}}">Cancel</a>
        </div>

      </form>
    </div><!-- .tabs -->
  </div><!-- .edit-window -->   
</div>     

{{/page}}

