- content_for :head do
  = show_template('admin/pages/node', 'admin/pages/table', 'admin/pages/form', 'admin/parts/new_part', 'admin/parts/remove_part', 'admin/pages/remove_page', 'admin/assets/asset_index', 'admin/assets/edit_asset', 'admin/pages/search_form') 
  
#pages
  = mustache :'admin/pages/form'  
