{{#page}}   

<div id="page-editor">
  <form action="#/pages/{{id}}" method= "post" id="edit-page" class="command-save autosave">  
    <div class="hidden">
      <input type="hidden" name="_method" value="put" /> 
    </div> 
    <div id="title-wrapper">
      <div class="field" id="page-title-field">   
        <label for="page-title">Title</label>
        <input type="text" id="page-title" name="page[title]" value="{{title}}" class="textfield" />  
      </div> 
      <div id="extra-info">
        <div class="field"> 
          <label for="page-slug">Slug</label>
          <input type="text" id="page-slug" name="page[slug]" value="{{slug}}" class="textfield" />  
        </div>   
        <div class="field">
          <label for='asset_tags'>Tags</label> 
          <input type='text' name='page[tag_list]' id='page-tag-list' value="{{tag_list}}" class='textfield' /> 
        </div>
      </div> 
      <div class="hidden">                  
        <input type='hidden' name='page[assets_list]' id='page-asset-ids' value="{{assets_list}}" class='hidden' />
      </div>
    </div>
  
    <div id="page-parts"> 
      <!--p><a href="#/pages/{{id}}/parts/new">Add Part</a></p-->   
      {{#parts}}  
        <div class="part tab" id="tab-{{id}}">
          <!--a href="#/pages/{{page_id}}/parts/{{id}}/remove">Remove</a--> 
          <label for='part-{{id}}-content'>{{name}}</label>
          <div class="hidden">                  
            <input type='hidden' name='page[parts][][id]' id='part-{{id}}-id' value="{{id}}" class='hidden' />
            <input type='hidden' name='page[parts][][name]' id='part-{{id}}-name' value="{{name}}" class='hidden' />
          </div>  
          
          <div class="field part-content"> 
                      
            <textarea type='text' name='page[parts][][content]' id='part-{{id}}-content' class='textarea'>{{content}}</textarea>
    
            {{#image_path}} 
            <img src="{{image_path}}" alt="{{name}}" />
            {{/image_path}}
          </div> 
          
        </div> 
      {{/parts}}  
    </div> 
   
    <div class="select-boxes">
      <select id="page-layout" class="select" name="page[layout_id]"> 
        {{#layouts}}
        <option value="{{id}}" {{selected}}>{{name}}</option>
        {{/layouts}}
      </select>  
    </div
    <div class="buttons">
      <input type="submit" id="page_save" value="Save" class="button" />   
      <a href="#/pages/{{id}}">Cancel</a>
    </div>
  </form>    
</div>     

<div id="page-files">
  <div id="page-assets">
    <h2>Assets</h2>  
    {{#assets}} 
      <div class="asset" id="page-asset-{{id}}">
        <a href="#/assets/{{id}}/edit{{query_path}}">
          <img src="/images/icons/{{id}}/{{file_name}}" alt="{{title}}" />
        </a> 
        <br />
        <a href="#/pages/{{page_id}}/assets/{{id}}/remove">Remove</a>  
      </div>
    {{/assets}}
  </div>     
{{/page}}
{{#assets}}        
  <h2>Recent Assets</h2>
  <ul>
    <li id="asset-{{id}}">
      <a href="#/pages/{{current_page_id}}/assets/{{id}}/add">
        <img src="/images/icons/{{id}}/{{file_name}}" alt="{{title}}" />
      </a>  
    </li>
  </ul> 
{{/assets}}     
{{#page}} 
  <form action="#/pages/{{id}}" method="post" id="edit-page">  
    <div class="hidden">
      <input type="hidden" name="_method" value="put" />            
      <input type='hidden' name='page[assets_list]' id='page-asset-ids' value="{{assets_list}}" class='hidden' />
    </div>
  </form>
       
  <form action='#/pages/{{id}}/results' id='search-form' method='get'>
    <div class='field'>
      <input class='textfield' id='search-query' name='query' type='text'>
      <input class='button' type='submit' value='Search'>
    </div>
  </form> 
     
  <form action='#/assets' enctype='multipart/form-data' id='new_asset' method='post'>
    <div class='field'>
      <label for='ajax_uploader'></label>
      <input id='ajax_uploader' name='file' type='file'>
    </div>
    <div class='buttons_'>
      <input type='submit'>
    </div>
  </form>  
           
  <div id="search-results-container"><div>
</div>
{{/page}}
