- content_for :head do
  = show_template('admin/pages/new_page', 'admin/pages/node', 'admin/pages/table', 'admin/pages/form', 'admin/parts/new_part', 'admin/parts/remove_part', 'admin/pages/remove_page') 
  

#pages 
  = mustache :'admin/pages/table'