<table>
  <thead>
    <tr>
      <th class="title">Page</th>
      <th class="modify">Modify</th>
    </tr>
  </thead>
  <tbody>
    {{#page}} 
      <tr class="node level-{{level}}" id="page-{{id}}">
        <td class="title" style="padding-left: {{padding}}px;"> 
           <a id id="edit-{{id}}" href="#/pages/{{id}}/edit">{{title}}</a>       
        </td> 
        <td class="modify">                 
          <a title="Add Child" class="add-child" id="add-child-{{id}}"href="#/pages/{{id}}/new">+</a> 
          <a title="Remove Page" class="remove-page" id="remove-page-{{id}}" href="#/pages/{{id}}/remove">x</a> 
        </td>
      </tr> 
    {{/page}}
    {{#children}} 
      <tr class="node level-{{level}}" id="page-{{id}}">
        <td class="title" style="padding-left: {{padding}}px;"> 
           <a id id="edit-{{id}}" href="#/pages/{{id}}/edit">{{title}}</a>       
        </td> 
        <td class="modify">                 
          <a title="Add Child" class="add-child" id="add-child-{{id}}"href="#/pages/{{id}}/new">+</a> 
          <a title="Remove Page" class="remove-page" id="remove-page-{{id}}" href="#/pages/{{id}}/remove">x</a> 
        </td>
      </tr> 
    {{/children}}     
  </tbody>
</table>