- content_for :head do
  =# show_template('')
  
%table
  %thead
    %tr
      %th.title Page
      %th.modify Modify
  %tbody
    //- @pages.each do |page|
    //  = partial :'admin/pages/_node', :locals => { :page => page }
    = mustache :'admin/pages/node'   