<h1>New Page</h1>  

<form action="#/pages/{{#parent}}{{id}}" method= "post">  
  <div class="hidden">
    <input type="hidden" id="page_parent_id" name="page[parent_id]" value="{{id}}" class="hidden" />   
    {{/parent}}   
  </div>
  <div class="field">   
    <label for="page_title">Title</label>
    <input type="text" id="page_title" name="page[title]" value="{{title}}" class="textfield" />  
  </div>
  <div class="buttons">
    <input type="submit" id="page_save" value="Save" class="button" /> 
    <a href="#/pages" class="cancel">Cancel</a> 
  </div>
</form> 
 