<ul class="page-children">
  {{#pages}}
  <li class="node level-{{level}}" id="page-{{id}}"> 
    <div class="item">
      <span class="title" style="padding-left: {{padding}}px;"> 
         <a id="edit-{{id}}" href="{{admin_path}}">{{title}}</a>  
      </span>
      <span class="count">
        {{child_count}} Children
      </span>
    </div>
  </li>  
 {{/pages}}
</ul>
