<tr class="node level-{{level}}" id="page-{{id}}">
  <td class="title" style="padding-left: {{padding}}px;"> 
     <a href="/pages/{{id}}/edit">{{title}}</a>       
  </td> 
  <td class="modify"> 
     links go here 
     {{padding}}
  </td>
</tr>
{{#children}}
  {{>admin/pages/node}} 
{{/children}}