<div id="overlay">
  <div class="modal">
  {{# model }}
    <h2>Remove </h2>
    <form method="post" action="{{ admin_url }}" enctype="multipart/form-data" id="remove-part">
      <div class="hidden">                   
        <input type="hidden" name="_method" value="delete" />
      </div>
      <div class="note"> 
        Are you sure you want to delete <strong>{{ name }}</strong>?
      </div>
      <div class="buttons">
        <input type="submit" value="Delete" class="button html-only" />
        <a href="#" class="cancel">Cancel</a>
      </div>
    </form>  
  {{/ model }}
  </div>
</div>