<div class="wide-modal"> 
{{#page}} 
  <a href="#/pages/{{id}}/edit">Close</a>   
  
  <form action='/pages/{{id}}/results' id='search-form' method='get'>
    <div class='field'>
      <input class='textfield' id='search-query' name='query' type='text'>
      <input class='button' type='submit' value='Search'>
    </div>
  </form> 
     
  <form action='#/assets' enctype='multipart/form-data' id='new_asset' method='post'>
    <div class='field'>
      <label for='ajax_uploader'></label>
      <input id='ajax_uploader' name='file' type='file'>
    </div>
    <div class='buttons'>
      <input type='submit'>
    </div>
  </form>   
         
  <div id="search-results-container"><div>  
      
{{/page}} 
</div> 
