<form action='/assets' id='search-form' method='get'>
  <div class='field'>
    <input class='textfield' id='search-query' name='query' type='text'>
    <input class='button' type='submit' value='Search'>
  </div>
</form>