{{#page}}  
<div id="preview-{{id}}" class="preview">
  <iframe src="/preview{{path}}" id="page-iframe-{{id}}"></iframe>
</div>   

<div class="toolbar">   
  <h1 id="page-title-{{id}}">
    {{ title }}
  </h1>
  <ul class="tab-control">
    <li><a class="tab active" href="{{admin_path}}">preview</a></li>
    <li><a class="tab" href="{{admin_path}}/edit">properties</a></li>
    <!-- TODO Temp!! change this back to parts -->
    {{# contents }}
      <li><a class="tab {{ name }}-tab" href="{{admin_path}}/edit">{{ name }}</a></li>
    {{/ contents }}
  </ul>
</div>  

<form method= "post" class="command-save" id="editor-buttons">
  <div class="editbar">
    <input type="button" value="Bold" data-cmd="bold" />
    <input type="button" value="Italic" data-cmd="italic" />
    <input type="button" value="Underline" data-cmd="underline" />
    <span class="separator">|</span>
    <input type="button" value="&lt;a&gt;" data-cmd="createLink" data-value="promptUser" data-text="URL of link?" />
    <input type="button" value="&lt;img /&gt;" data-cmd="insertimage" data-value="promptUser" data-text="enter an image path" />
    <span class="separator">|</span>
    <input type="button" value="&lt;sub&gt;" data-cmd="subscript" />
    <input type="button" value="&lt;sup&gt;" data-cmd="superscript" />
    <span class="separator">|</span>
    <input type="button" value="&lt;div&gt;" data-cmd="formatblock" data-value="div" />
    <input type="button" value="&lt;p&gt;" data-cmd="formatblock" data-value="p" />
    <input type="button" value="&lt;h1&gt;" data-cmd="formatblock" data-value="h1" />
    <input type="button" value="&lt;h2&gt;" data-cmd="formatblock" data-value="h2" />
    <input type="button" value="&lt;h3&gt;" data-cmd="formatblock" data-value="h3" />
    <!--input type="button" value="html" id="inserthtml" cmdValue="promptUser" promptText="Valid HTML snippet" /-->
    
  </div>

  <div class="buttons">
    <input type="button" value="save" id="save" class="save button"/> 
    <!--input type="submit" id="save" value="Save" class="save button" /-->   
    <!-- input type="submit" id="save-page" value="Save and Continue" class="save button" /-->  
  </div>
</form>    

{{/page}}
