<table>
  <thead>
    <tr>
      <th class="title">Page</th>
      <th class="modify">Modify</th>
    </tr>
  </thead>
  <tbody>
    {{#root}} 
      {{>admin/pages/node}}  
    {{/root}}
  </tbody>
</table>  
