<div class="modal edit-asset hide">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Edit Asset</h3>
  </div>
     
{{#asset}}
  <div class="modal-body">
      <form method="post" action="/admin/assets/{{id}}" enctype="multipart/form-data" id="edit-asset" class="command-save">
      
    {{# is_image }}
    <div class="image display" id="image-{{ id }}">
      <img src="{{ asset_path }}" alt="{{ title }}" />
    </div>
    {{/ is_image }}
    {{^ is_image }}
    <div class="downloads">
      <h1>{{ ext }}</h1>
      <p>
        Download: 
        <a href="{{ asset_path }}">{{ file_name }}</a>
      </p>
    </div>
    {{/ is_image }}
    <div class="image-info" id="image-info-{{id}}">
        <div class="hidden">
          <input type="hidden" name="_method" value="put" />
        </div>
        <div class="field">
          Path: /images/{{id}}/{{file_name}}
        </div>
        <div class="field">
          <input type="text" name="asset[title]" id="asset_title" value="{{title}}" class="textfield" />
        </div> 
        <div class="field">
          <label for="asset_tags">Tags</label> 
          <input type="text" name="asset[tag_list]" id="asset_tag_list" value="{{tag_list}}" class="textfield" /> 
        </div>
        
        <!--{{#previous}}<a class="previous" href="/admin/assets/{{id}}/edit{{query_path}}">Previous</a>{{/previous}}
        {{#next}}<a class="next" href="/admin/assets/{{id}}/edit{{query_path}}">Next</a>{{/next}}-->
      </div>

    </div>
    <div class="modal-footer">
      <a href="#" data-dismiss="modal" class="cancel">Cancel</a>
      <button type="submit" class="btn btn-primary js-update">Save</button>
    </div>
  </form>
{{/asset}}
</div>


