<div id="overlay">
  <div class="modal">

    <h1>Upload Assets</h1>
       
    <form action="/admin/assets" id="uploader" enctype="multipart/form-data" class="js-create form-horizontal" method="post">
      
      <div class="control-group">
        <label class="control-label" for="file">Choose a file</label>
        <div class="controls">
          <input id="file" name="file" type="file" multiple="multiple"><!--  -->
        </div>
      </div>
      
      <div id="progress">0</div>
      <div id="percent">0</div>
      
      <div class="form-actions">
        <button type="submit" class="btn js-create">Upload</button>
        <a href="/admin/assets" class="close">Cancel</a> 
      </div>
      
    </form>  

  </div>
</div>