<aside id="sidebar">
  
</aside>

<section id="main" class="assets">
  
  <header>
    <h1>{{# folder }}{{ name }}{{/ folder }}</h1>
    <a class="btn js-new-folder">New Folder</a>
    <a class="btn js-remove-folder" data-id="{{ id }}">Remove Folder</a>
    
    <input id="file" class="js-upload" name="file" type="file" multiple="multiple"><!--  -->
    <!-- form action="/admin/assets" id="uploader" enctype="multipart/form-data" class="js-create form-horizontal" method="post">
      
      <div class="control-group">
        <label class="control-label" for="file">Choose a file</label>
        <div class="controls">
          <input id="file" class="js-upload" name="file" type="file" multiple="multiple">
        </div>
      </div>
      
    </form> -->
  </header>

  <ul id="assets" class="unstyled">
    {{# assets }}
      {{> node }}
    {{/ assets }}
  </ul>
  
</section>

