<aside id="sidebar">
  
</aside>


<section id="main" class="assets">
  
  {{> toolbar }}

  <ul id="assets" class="unstyled">
    {{#assets}}
      {{> node }}
    {{/assets}}
  </ul>
  
</section>

