<aside id="sidebar">
  
</aside>

<section id="main" class="assets">

  <header class="header" id="folder-info">
    
  </header>

  <ul id="assets" class="unstyled">
    {{# assets }}
      {{> node }}
    {{/ assets }}
  </ul>
  
</section>

