<header>
  <h1>{{# folder }}{{ name }}{{/ folder }}</h1>
  <a class="btn js-new-folder" data-id="{{ id }}" href="/admin/folders/new">New Folder</a>
  <a class="btn js-new-asset" data-id="{{ id }}" href="/admin/assets/new">New Asset</a>
  <form action="/admin/assets" id="uploader" enctype="multipart/form-data" class="js-create form-horizontal" method="post">
      
    <div class="control-group">
      <label class="control-label" for="file">Choose a file</label>
      <div class="controls">
        <input id="file" class="js-upload" name="file" type="file" multiple="multiple"><!--  -->
      </div>
    </div>
      
  </form>
</header><!--toolbar -->

