<div class="hidden">
  <input type="hidden" id="template-klass" name="klass" value="{{ klass }}" class="hidden" />   
</div>

<div class="control-group"> 
  <label class="control-label" for="template-name">Name</label>
  <div class="controls">
    <input type="text" id="template-name" name="name" value="{{ name }}" class="textfield" />  
  </div>
</div>

<div>
  <p>
    Short description of what parts are and what they do.
  </p>
  <div class="clearfix">
    {{# part_types }}
    <div class="part {{ name }}">
      <strong>{{ name }}</strong>: Description goes here
      <a class="js-remove-part">x</a>
    </div>
    {{/ part_types }}
  </div>

  <div>
    {{# types }}
      <a class="js-add-part" data-id="{{ id }}">Add a {{ . }}</a>
    {{/ types }}
  </div>

</div>


