{{# templates }}
  <h2>
    {{ title }} 
    <span class="modify">
      <a data-klass="{{ klass }}" class="js-new" href="/admin/design/new/layout">+</a>
    </span>
  </h2> 
  <ul class="unstyled">
    {{# models }}
      <li class="layout" id="layout-{{id}}"> 
        <div class="item"> 
          <span class="title"> 
             <a class="js-show" id="edit-layout-{{id}}" href="{{admin_path}}">{{name}}</a>       
          </span> 
        </div>
      </li>  
    {{/ models }}
  </ul>   
{{/ templates }}  


