<div id="assets-editor">
  
  {{> toolbar }}
  
  <ul id="assets" class="folders unstyled">
    {{# folders }}
    <li id="folder-{{id}}" class="asset folder">
      <div class="image">
        <a href="{{admin_path}}{{query_path}}" data-id="{{ id }}" class="js-show">
          <img src="/icons/folder.png" alt="{{title}}" />
        </a>
      </div>
      <p>{{ name }} – {{ _type }}<br />
      <a href="{{admin_path}}/remove" class="remove-icon js-remove" data-id="{{ id }}">remove</a></p> 
    </li>
   {{/folders}}
  </ul>     

</div>