<li class="node level-{{level}}" id="folder-{{id}}"> 
  <div class="item">
    <a class="js-show-folder" id="edit-{{ id }}" data-id="{{ id }}" href="{{ admin_path }}">
      {{ name }}
    </a>     
    <ul>
    {{# children }}
      <li> 
        <a class="js-show-folder" id="edit-{{ id }}" data-id="{{ id }}" href="{{ admin_path }}">
          {{ name }}
        </a>
      </li>
    {{/ children }}
    </ul>
  </div>
</li>
