%form{ :method => 'post', :action => '/assets', :enctype => 'multipart/form-data', :id => 'new_asset' }
  .field
    %label{ :for => 'ajax_uploader' }
    %input{ :type => 'file', :name => 'file', :id => 'ajax_uploader' }
  .buttons
    %input{ :type => 'submit' }
    
#upload_progress
  .bar
#total_progress
  .bar