<li id="asset-{{id}}" class="asset">
  <div class="image">
    <a href="{{admin_path}}{{query_path}}" id="edit-asset-{{id}}" rel="show_asset">
    {{# is_image }}
      <img src="{{image_path}}?w=240&amp;h=180&amp;c=t&amp;g=North" alt="{{title}}" />
    {{/ is_image }}
    {{^ is_image }}
      {{ ext }}
    {{/ is_image }}
    </a>
  </div>
  <p>{{title}}<br />
  <a href="{{admin_path}}/remove" class="remove-icon" id="remove-asset-{{id}}">remove</a></p> 
</li>