<h1>Assets {{query}}</h1>
<ul id="assets">
  {{#assets}}
    <li id="asset-{{id}}">
      <a href="#/admin/assets/{{id}}/edit{{query_path}}">
        <img src="/images/thumbnails/{{id}}/{{file_name}}" alt="{{title}}" />
      </a>  
      <a href="#/admin/assets/{{id}}/remove{{query_path}}">Remove</a>
    </li>
  {{/assets}}
</ul>