{{#asset}}
  <li id="asset-{{id}}">
    <a href="#/assets/{{id}}/edit{{query_path}}" id="edit-asset-{{id}}">
      <img src="/images/thumbnails/{{id}}/{{file_name}}" alt="{{title}}" />
    </a>  
    <a href="#/assets/{{id}}/remove{{query_path}}" id="remove-asset-{{id}}">Remove</a>
  </li>
{{/asset}}