<div id="overlay">
{{#asset}}

  <div id="asset-editor" class="fade-in">
    
    <div class="image-display" id="image-display-{{id}}">
      <img src="/images/{{id}}/{{file_name}}" alt="{{title}}" />
    </div>
    <div class="image-info" id="image-info-{{id}}">
      <form method="post" action="/admin/assets/{{id}}" enctype="multipart/form-data" id="edit-asset" class="command-save">
        <div class="hidden">
          <input type="hidden" name="_method" value="put" />
        </div>
        <div class="field">
          <input type="text" name="asset[title]" id="asset_title" value="{{title}}" class="textfield" />
        </div> 
        <div class="field">
          <label for="asset_tags">Tags</label> 
          <input type="text" name="asset[tag_list]" id="asset_tag_list" value="{{tag_list}}" class="textfield" /> 
        </div>
        <div class="actions">
          
          <!--input type="submit" value="Save and Continue" class="button html-only" /-->
          <a href="/admin/assets{{query_path}}" class="cancel">Cancel</a>
          or
          <input type="submit" value="Save" class="button html-only" />
        </div>
      </form>  
      <!--{{#previous}}<a class="previous" href="/admin/assets/{{id}}/edit{{query_path}}">Previous</a>{{/previous}}
      {{#next}}<a class="next" href="/admin/assets/{{id}}/edit{{query_path}}">Next</a>{{/next}}-->
    </div>

  </div> 
  
{{/asset}}
</div>