<div id="assets-editor">
  
  <div class="toolbar">
    <form action="/admin/assets" enctype="multipart/form-data" class="upload-asset" method="post">
      <div class="hidden">
        <input name="limit" value="12" type="hidden" />
      </div>
      <div class="filefield">
        <div class="uploader">
          <input id="ajax_uploader" name="file" type="file" />
        </div>
        <label for="ajax_uploader">Upload Images</label>
        <input type="submit" value="Save" class="button html-only" />
      </div>
    </form>
    <form action="/admin/assets" class="search-form" method="get">
      <div class="field">
        <input class="textfield" id="search-query" name="query" type="text" value="{{query}}">
        <input class="button search" type="submit" value="Search">
      </div>
    </form>
  </div><!--toolbar -->

  <ul id="assets">
    {{#assets}}
      <li id="asset-{{id}}">
        <div class="image">
          <a href="{{admin_path}}/edit{{query_path}}" id="edit-asset-{{id}}">
            <img src="/images/{{id}}/{{file_name}}?w=240&h=180&c=t&g=North" alt="{{title}}" />
          </a>
        </div>
        <p>{{title}}<br />
        <a href="{{admin_path}}/remove" class="remove-icon" id="remove-asset-{{id}}">remove</a></p> 
      </li>
    {{/assets}}
  </ul>
</div>

