- content_for :head do
  = show_template('admin/assets/asset_index', 'admin/assets/edit_asset', 'admin/assets/remove_asset')   
  
- content_for :header do
  = partial :'layouts/_search', :locals => { :search_path => '#/assets' } 
  
= partial :'admin/assets/_new_form'

#asset-index-container
  = mustache :'admin/assets/asset_index'