{{#asset}}
<div class="modal-strip fade-in info" id="modal-info-{{id}}">
  <div class="icon" id="image-icon-{{id}}">
    <img src="/images/icons/{{id}}/{{file_name}}" alt="{{title}}" />
  </div>
  <div class="image-info" id="image-info-{{id}}">
    <h2>{{title}}</h2>
  </div>                      
</div>
{{/asset}}