html { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

body { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; line-height: 1; }

div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

blockquote { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; quotes: none; }

pre, a, abbr, acronym, address, big, cite, code { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

del { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; text-decoration: line-through; }

dfn, em, font, img { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

ins { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; text-decoration: none; }

kbd { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

q { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; quotes: none; }

s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

ol, ul { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; list-style: none; }

li, fieldset, form, label, legend { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

table { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; border-collapse: collapse; border-spacing: 0; }

caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

*:focus { outline: 0; }

body { background-color: white; font-family: "Helvetica Neue", "Helvetica", sans-serif; font-size: 100%; margin: 0; padding: 0; color: black; background: #eeeeee; height: 100%; }

h1, h2, h3, h4, h5, h6 { font-family: "League Gothic", "Futura-CondensedMedium", "Gill Sans MT Condensed", "Arial Narrow", sans-serif; text-transform: uppercase; font-weight: normal; }

html { height: 100%; }

.wrapper { min-height: 500px; height: 100%; }

.container { position: relative; padding: 0 0; margin: 0 auto; }

#content { padding-top: 0; position: absolute; top: 42px; left: 0; right: 0; bottom: 0; }

.symbol { display: block; text-indent: -10000px; width: 24px; height: 24px; background-color: #222222; }

.js-only { display: none; }

.clear-both { clear: both; }

#page-assets { *display: inline-block; }
#page-assets:after { content: " "; display: block; height: 0; clear: both; visibility: hidden; }
#page-assets .asset { float: left; }

#loader { position: absolute; display: none; width: 40px; height: 40px; overflow: hidden; left: 50%; top: 50%; background-image: url(/images/loader.png); background-position-x: center; background-position-y: 0; z-index: 10000; }
#loader h1 { font-size: 2em; }

#login { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin: 42px auto 0 auto; border: 7px solid #444444; width: 420px; padding: 20px; background: #dddddd; }
#login form label { display: inline-block; width: 6em; }
#login form input.textfield { width: 14em; }
#login form .field { margin: 0 0 6px 0; }
#login form .buttons { padding-left: 6.2em; }

#sidebar { position: absolute; top: 0; left: 0; bottom: 0; padding: 0; width: 300px; overflow-y: auto; overflow-x: hidden; background: #333333; }
#sidebar a { color: #bbbbbb; text-decoration: none; }
#sidebar #layouts { width: 260px; margin: 20px; }
#sidebar #layouts h2 { margin: 18px 0 4px 0; }
#sidebar #layouts ul { -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0 0 4px #444444; -moz-box-shadow: 0 0 4px #444444; box-shadow: 0 0 4px #444444; }
#sidebar #layouts ul li { padding: 4px; }
#sidebar ul#pages { width: 300px; margin: 0; font-family: "League Gothic", "Futura-CondensedMedium", "Gill Sans MT Condensed", "Arial Narrow", sans-serif; text-transform: uppercase; letter-spacing: 0.12em; }
#sidebar ul#pages li .item { position: relative; margin: 0 0; padding: 9px 18px; border: solid #222222; border-width: 0 0 1px 0; background-image: -webkit-gradient(linear, left top, left bottom, from(#383838), to(#333333)); background-image: -moz-linear-gradient(top, #383838, #333333); background-image: gradient(linear, left top, left bottom, from(#383838), to(#333333)); }
#sidebar ul#pages li .item .opener { position: absolute; color: #bbbbbb; height: 16px; width: 16px; top: 4px; left: 3px; cursor: pointer; }
#sidebar ul#pages li .item .title a { color: #bbbbbb; display: inline-block; padding: 6px 0; text-decoration: none; }
#sidebar ul#pages li .item .modify { display: inline-block; float: right; margin: 6px 6px 0 0; width: 3em; text-align: right; }
#sidebar ul#pages li .item .modify a { color: #bbbbbb; text-decoration: none; }
#sidebar ul#pages li .item:hover { -webkit-box-shadow: black 0px 0px 4px inset; background: #252525; }
#sidebar ul#pages li.active .item { -webkit-box-shadow: black 0px 0px 4px inset; background: #252525; }
#sidebar ul#pages li.active .item a { color: #eeeeee; }
#sidebar ul#pages li.active li .item { -webkit-box-shadow: none; background: #333333; background-image: -webkit-gradient(linear, left top, left bottom, from(#383838), to(#333333)); background-image: -moz-linear-gradient(top, #383838, #333333); background-image: gradient(linear, left top, left bottom, from(#383838), to(#333333)); }
#sidebar ul#pages li.active li .item a { color: #bbbbbb; }
#sidebar ul#pages li.active li .item:hover { -webkit-box-shadow: black 0px 0px 4px inset; background: #252525; }
#sidebar ul#pages li.active li .item:hover a { color: #bbbbbb; }

#header { position: relative; width: 100%; height: 22px; padding: 10px 0; background: #8f2f30; }
#header h1 { position: absolute; right: 10px; top: 10px; margin: 0 10px; padding: 0; color: white; }
#header a { color: white; }
#header #search-form { position: absolute; right: 20px; bottom: 12px; }

#tabs { position: absolute; left: 10px; bottom: 0; margin: 0 0; font-family: "League Gothic", "Futura-CondensedMedium", "Gill Sans MT Condensed", "Arial Narrow", sans-serif; font-size: 24px; text-transform: uppercase; }
#tabs a { color: white; color: rgba(255, 255, 255, 0.9); text-decoration: none; display: inline-block; height: 34px; line-height: 34px; padding: 4px 8px; }
#tabs a:hover, #tabs a.active { color: white; background-color: rgba(255, 255, 255, 0.1); }

.notice { -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 0 3px #444444; -moz-box-shadow: 0 0 3px #444444; box-shadow: 0 0 3px #444444; display: none; position: absolute; top: 46px; right: 24px; height: 18px; width: auto; padding: 6px 12px; color: white; background-color: rgba(38, 115, 38, 0.8); z-index: 101; }

.message { background-color: green; }

.warning { background-color: orange; }

.error { background-color: red; }

form#search_form { padding: 20px; text-align: right; }

form input.textfield { border: 1px solid #111111; font-size: 1em; width: 360px; background-color: rgba(255, 255, 255, 0.5); }
form input.button { -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; border: none; background: #555555; color: white; font-size: 1em; cursor: pointer; }
form input.button:hover { background: #444444; }

#overlay { position: fixed; top: 0; left: 0; bottom: 0; right: 0; overflow-x: hidden; overflow-y: auto; background-color: rgba(0, 0, 0, 0.42); z-index: 100; }

#modal_wrapper { position: fixed; top: 20px; width: 100%; z-index: 101; }

#modal_wrapper a.close { position: absolute; bottom: 10px; right: 12px; }

#modal .wide-modal { position: relative; width: 640px; height: 640px; margin: 0 auto; padding: 10px; background: white; text-align: center; overflow: hidden; *display: inline-block; }
#modal .wide-modal:after { content: " "; display: block; height: 0; clear: both; visibility: hidden; }
#modal .wide-modal .image-info { position: absolute; bottom: 0; left: 0; width: 616px; padding: 12px; background: rgba(0, 0, 0, 0.5); }
#modal .wide-modal .cancel { position: absolute; top: -4px; left: -4px; display: block; height: 24px; width: 24px; background: red; text-indent: -10000px; }
#modal .small-modal, #modal .notice { -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; width: 420px; margin: 0 auto; background: white; padding: 10px; }
#modal .small-modal .textfield, #modal .notice .textfield { width: 380px; }

.fade-in { display: none; }

#upload_progress { width: 100%; height: 3px; margin: 1em 0; background: #dddddd; }
#upload_progress .bar { width: 0; height: 100%; background: red; }

#total_progress { width: 100%; height: 3px; margin: 1em 0; background: #dddddd; }
#total_progress .bar { width: 0; height: 100%; background: red; }

table { width: 100%; }
table .modify { width: 2em; }
table th { text-align: left; padding: 4px 0; font-size: 0.9em; border-bottom: 1px solid #cccccc; }
table td { padding: 6px 0; border-bottom: 1px solid #cccccc; }
table td.title a { display: block; }

.preview { position: absolute; display: block; overflow: auto; top: 0; bottom: 0; left: 0; right: 0; top: 42px; z-index: 1; }
.preview .loader { position: absolute; top: 0; left: 0; }
.preview iframe { position: relative; display: none; margin-bottom: -3px; border: none; width: 100%; height: 100%; }

.edit-window .asset { float: left; margin: 0 6px 6px 0; width: 72px; height: 72px; }

#page-editor { position: absolute; display: block; overflow: auto; top: 0; bottom: 0; left: 0; right: 0; -webkit-box-shadow: 0 0 4px #333333; -moz-box-shadow: 0 0 4px #333333; box-shadow: 0 0 4px #333333; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; border: 5px solid rgba(184, 184, 184, 0.92); max-width: 960px; width: 100%; height: 540px; margin: 100px auto; bottom: auto; padding: 0; z-index: 100; overflow: hidden; }
#page-editor .edit-window { -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; width: 80%; height: 100%; float: left; background-color: rgba(235, 235, 235, 0.92); }
#page-editor .edit-nav { width: 20%; height: 100%; float: right; background-color: rgba(184, 184, 184, 0.92); }
#page-editor form { padding: 12px; }
#page-editor form iframe, #page-editor form textarea { width: 100%; height: 420px; margin: 0 0 0.5em 0; }

#assets { margin: 0; *display: inline-block; }
#assets:after { content: " "; display: block; height: 0; clear: both; visibility: hidden; }
#assets li { position: relative; float: left; margin: 0 10px 10px 0; height: 140px; width: 140px; text-align: center; background-color: #dddddd; -webkit-transition: background-color 0.3s linear; transition: background-color 0.3s linear; }
#assets li .remove-icon { position: absolute; bottom: 4px; left: 4px; }
#assets li .info-icon { position: absolute; bottom: 4px; left: 32px; }
#assets li .image { width: 100%; }
#assets li .image a { display: block; }
#assets li .info { opacity: 0; position: absolute; z-index: 0; top: 20px; left: 130px; height: 42px; width: 300px; text-align: left; background-color: white; }
#assets li:hover { background-color: #cccccc; -webkit-transition: background-color 0.3s linear; transition: background-color 0.3s linear; }
#assets li:hover .info { opacity: 1; z-index: 10; -webkit-transition: opacity 0.3s linear; transition: opacity 0.3s linear; }

#assets-editor { position: absolute; display: block; overflow: auto; top: 0; bottom: 0; left: 0; right: 0; bottom: 0; }
#assets-editor #assets { position: absolute; display: block; overflow: auto; top: 0; bottom: 0; left: 0; right: 0; padding: 20px; overflow: auto; top: 41px; bottom: 0; }
#assets-editor #title-wrapper { width: 100%; border-bottom: 2px solid #444444; background: white; }
#assets-editor .image-display { float: left; }
#assets-editor .image-info { padding: 12px 0 0 18px; float: left; }

.toolbar { width: 100%; position: relative; min-height: 36px; margin: 0 0 6px 0; background-color: #dddddd; }
.toolbar form.search-form { position: absolute; right: 0; top: 0; }
.toolbar form.upload-asset { position: absolute; left: 0; top: 0; }
.toolbar form.upload-asset .uploader { overflow: hidden; width: 24px; height: 24px; float: left; margin: 4px 4px; background: red; }
.toolbar form.upload-asset .uploader input { opacity: 0; }
.toolbar form.upload-asset .filefield { cursor: pointer; }
.toolbar form.upload-asset .filefield label { line-height: 32px; width: 200px; cursor: pointer; }
.toolbar form.upload-asset .filefield:hover .uploader { background: #333333; }

#editor { position: absolute; display: block; overflow: auto; top: 0; bottom: 0; left: 0; right: 0; z-index: 10; left: 300px; }
#editor .section { color: #dddddd; padding: 0.3em 0.5em; font-size: 4em; font-weight: 200; }
#editor label { display: block; }
#editor #code-editor { position: absolute; display: block; overflow: auto; top: 0; bottom: 0; left: 0; right: 0; overflow: hidden; }
#editor #code-editor .tabs { font-size: 1.4em; height: 38px; border-bottom: 1px solid #444444; background-color: #eeeeee; }
#editor #code-editor .tabs label { display: inline-block; }
#editor #code-editor .tabs input { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; position: absolute; display: block; overflow: auto; top: 0; bottom: 0; left: 0; right: 0; bottom: auto; width: auto; border: none; margin: 0; padding: 0; background: transparent; font-size: 1em; padding: 6px 0 3px 16px; }
#editor #code-editor .tabs input:focus { background: white; }
#editor .buttons { position: absolute; display: block; overflow: auto; top: 0; bottom: 0; left: 0; right: 0; right: 0; top: auto; height: 80px; border-top: 1px solid #444444; }
#editor .buttons #layout-filter { position: absolute; left: 10px; top: 10px; font-size: 1.4em; display: none; }
#editor .buttons #save-layout { position: absolute; right: 20px; top: 6px; padding-left: 16px; padding-right: 16px; }
#editor .code { position: absolute; bottom: 80px; left: 0; right: 0; top: 40px; }
#editor .code textarea { border: none; padding: 0; }
#editor .Layout .code { right: 200px; }
#editor .Layout .buttons { right: 200px; }
#editor .Stylesheet .buttons #layout-filter { display: block; }
#editor #parts { position: absolute; bottom: 0; top: 0; right: 0; width: 200px; border-left: 1px solid #cccccc; background: #dddddd; }
#editor #parts #add-layout-part { position: absolute; bottom: 0; }

#layout_content { position: absolute; display: block; overflow: auto; top: 0; bottom: 0; left: 0; right: 0; bottom: 0; top: 0; line-height: 1.6; }

.modal-editor { -webkit-box-shadow: 0 0 4px #333333; -moz-box-shadow: 0 0 4px #333333; box-shadow: 0 0 4px #333333; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; *display: inline-block; position: absolute; display: none; top: 0; left: 0; border: 3px solid #f1f1f1; padding: 0; background: white; z-index: 100; width: 640px; }
.modal-editor:after { content: " "; display: block; height: 0; clear: both; visibility: hidden; }
.modal-editor .progress { display: none; position: absolute; background-color: rgba(255, 255, 255, 0.9); width: 100%; min-height: 18px; }
.modal-editor #part-assets { margin: 0 -6px 0 0; }
.modal-editor .asset { float: left; margin: 0 6px 6px 0; width: 72px; height: 72px; }
.modal-editor textarea { height: 200px; }

.modal-strip { -webkit-box-shadow: 0 0 4px #333333; -moz-box-shadow: 0 0 4px #333333; box-shadow: 0 0 4px #333333; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; position: absolute; bottom: -72px; left: 24px; border: 3px solid #f1f1f1; width: 540px; min-height: 18px; z-index: 1000; background: rgba(255, 255, 255, 0.88); text-align: left; }
.modal-strip .icon { float: left; }
.modal-strip .icon img { height: 48px; width: 48px; }
.modal-strip form { margin: 0 0; }
.modal-strip label { display: inline-block; margin: 0 1em 0 0; }

.assets-container { *display: inline-block; margin: 10px; }
.assets-container:after { content: " "; display: block; height: 0; clear: both; visibility: hidden; }
.assets-container h1 { margin: 0 0 4px 0; }

#editor .modal-editor form { margin: 0; }
#editor .modal-strip label { display: inline; }

ul.toolbar li { float: left; }
ul.toolbar li span { display: block; float: left; width: 24px; height: 24px; margin: 4px; cursor: pointer; background-color: #aaaaaa; }
