{{#asset}}
<div class="image-display" id="image-display-{{id}}">
  <a href="/search?query={{query}}" id="close-image-{{id}}" title="close image">
    <img src="/images/large/{{id}}/{{file_name}}" alt="{{title}}" />
  </a>
</div>
<div class="image-info" id="image-info-{{id}}"> 
  <h1>{{title}}</h1>
{{/asset}} 
  {{#previous}}<a href="/search/{{id}}{{query_path}}" class="previous">Previous</a>{{/previous}}
  {{#next}}<a href="/search/{{id}}{{query_path}}" class="next">Next</a>{{/next}}
</div>

