{{# model }}
<div class="modal hide">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Insert</h3>
  </div>
  <form method="post" class="js-update form-horizontal">
    <div class="modal-body">   
      {{> form }}
    </div>
    
    <div class="modal-footer">
      <a href="#" data-dismiss="modal" class="cancel">Cancel</a>
      <button type="submit" class="btn btn-primary js-create">Save</button>
    </div>
  </form>
</div>
{{/ model }}
