{{# model }}
<div class="modal settings hide">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Settings</h3>
  </div>
 
  <div class="modal-body">  
    <form method="post" class="js-update form-vertical"> 
      {{> form }}
      <div class="well">
        <button type="submit" class="btn btn-primary js-create">Save</button>
        <a href="#" data-dismiss="modal" class="btn cancel">Cancel</a>
      </div>
    </form>
  </div>
    
  <div class="modal-footer">
    &nbsp;
  </div>
  
</div>
{{/ model }}
