<h1>Search: {{query}}</h1>

<ul id="assets">
  {{#assets}}
    <li id="asset-{{id}}">
      <a href="/assets/{{query}}/{{id}}" style="">
        <img src="/images/thumbnails/{{id}}/{{file_name}}" alt="{{title}}" />
      </a>
    </li>
  {{/assets}}
</ul>

