#asset-list-container
  %h1 
    Page: 
    = @title
  
  %p= @content
  
  %ul
    %li
      %a{ :href => "/other" } The Other Page
    %li
      %a{ :href => "/nolayout" } A Page Without a Layout


    
  


