html { height: 100%; }

body {
  background-color: white;
  font-family: $fonts;
  font-size: 100%;
  margin: 0;
  padding: 0;
  color: #000;
  background: #eee;
  height: 100% ;
  overflow: hidden;
}

  /*  This is needed for capybara-webkit screenshots... */
.wrapper {
  min-height: 500px;
  height: 100%;
}

.container {
  position: relative;
  padding: 0 0;
  margin: 0 auto;
}

#content {
  @include positionable;
  top: 42px;
  padding-top: 0;
}

#main {
  @include positionable;
  left: 300px;
  overflow-y: auto;
  overflow-x: visible;
}

#sidebar {
  @include positionable;
  right: auto;
  overflow-y: auto;
  overflow-x: hidden;
  width: 280px;
  padding: 10px;
}


#loader {
  position: absolute;
  width: 24px;
  height: 24px;
  overflow: hidden;
  right: 12px;
  top: 48px;
  z-index: 10000;
}

.login {
  width: 540px;
  margin: 100px auto;
}
