.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
  background-color: white; 
}

.settings {
  top: 20px;
  bottom: 20px;
  left: auto;
  right: 20px;
  margin: 0;
  .modal-body {
    max-height: auto;
  }
  .modal-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.edit-asset {
  width: 900px;
  margin-left: -450px;
}
.modal form {
  margin: 0;
}

.add-parts {
  .btn-group {
    height: 18px;
  }
}