// .part { 
//   display: block;
//   float: left;
//   margin: 0 4px 4px 0;
//   height: 100px;
//   width: 100px;
//   border: 1px solid black;
//   color: white;
//   background: hsla(0,0,0,0.72);
// }