$steel: #252d3b
$fonts: 'Helvetica Neue', 'arial', 'Helvetica', sans-serif
$headline-fonts: 'Gotham', 'Helvetica Neue', 'arial', 'Helvetica', sans-serif

/* Colors */
/* hsla(25,11,55,1) */ 
/* #9d8f82 */
/* #e4e1dd */
$beige_50: #b8aea5 
$beige_75: hsla(33,8,42,1) 
$beige_10: hsla(34,11,87,1)  

$gray_beige: #777371 
/* hsla(20,3,45,1) */


=clearfix
  *display:     inline-block
  &:after
    :content    " "
    :display    block
    :height     0
    :clear      both
    :visibility hidden
    
=border-radius($radius: 4px)
  :-webkit-border-radius $radius
  :-moz-border-radius $radius
  :border-radius $radius   
  
=box-shadow($x: 0, $y: 0, $radius: 15px, $color: #888)
  :-webkit-box-shadow $x $y $radius $color
  :-moz-box-shadow $x $y $radius $color
  :box-shadow $x $y $radius $color
  
=positionable
  :position absolute
  :display block   
  :overflow auto
  :top 0
  :bottom 0
  :left 0
  :right 0 
  :z-index 11
  
=gradient($from, $to)
  :background-image -webkit-gradient(linear, left top, left bottom, from($from), to($to))
  :background-image -moz-linear-gradient(top, $from, $to)
  :background-image gradient(linear, left top, left bottom, from($from), to($to))
