<div class="modal-editor fade-in">
  {{#part}} 
  <div class="toolbar">
    <form action='#/pages/{{page_id}}/image_parts/{{id}}/assets' enctype='multipart/form-data' class='upload-asset' method='post'>
      <div class='hidden'>
        <input name='limit' value='12' type='hidden' />
      </div>
      <div class='filefield'>
        <div class='uploader'>
          <input id='ajax_uploader' name='file' type='file' />
        </div>
        <label for='ajax_uploader'>Upload Images</label>
        <!--input type='submit' value="Save" class='button html-only' /-->
      </div>
    </form>
    <form action='#/pages/{{page_id}}/parts/{{id}}/results' class='search-form' method='get'>
      <div class='field'>
        <input class='textfield' id='search-query' name='query' type='text'>
        <input class='button search' type='submit' value='Search'>
      </div>
    </form>
  </div>
  {{/part}}
  
  <div class="progress"></div> 
  <div id="search-results-container"> 
    <h1>Recent Assets</h1>
    <ul id="part-assets">
      {{#assets}}
        <li id="asset-{{id}}" class="asset">
          <a href="#/pages/{{current_page_id}}/assets/{{id}}/add">
            <img src="/images/icons/{{id}}/{{file_name}}" alt="{{title}}" />
          </a>  
        </li>
      {{/assets}}
    </ul>
  </div> 
  
  {{#part}}  
  <div id="selected-assets" class="clear-both">
    <h1>Selected Asset</h1>
    <ul>
      <li id="asset-{{asset_id}}" class="asset">
        <img src="/images/icons/{{asset_id}}/file_name_goes_here.jpg" alt="{{title}}" />
      </li>
    </ul>
  </div>
  <a href="#/pages/{{page_id}}" class="cancel verlag-editor">Cancel</a>
  {{/part}} 
</div>