{{#part}}  
{{ name }} <span class="timestamp">{{ timestamp }}</span>

  <h1>Selected Asset</h1>  
  <form method="post" action="#/pages/{{page_id}}/parts/{{id}}" enctype="multipart/form-data" id="edit-part">
    <div class="hidden">
      <input type="hidden" name="_method" value="put" /> 
      <input type="hidden" name="part[id]" id="part-{{id}}-id" value="{{id}}" class="hidden" />
      <input type="hidden" name="part[name]" id="part-{{id}}-name" value="{{name}}" class="hidden" />
      <input type="hidden" name="base_id" id="base-{{id}}" value="{{base_page_id}}" class="hidden" />
      <input type="hidden" name="part[asset_id]" id="part-asset-id" value="{{asset_id}}" class="" />
    </div>
    <div>
      <img src="/images/{{ asset_id }}/{{ file_name }}" alt="{{ title }}" />
    </div>
    
    <div class="field">
      
    </div>
    last updated: 
    <div class="actions">
      <input type="submit" value="Save" class="button html-only" />
      <a href="/admin/pages/{{page_id}}" class="cancel verlag-editor">Cancel</a>
    </div>
  </form>

{{/part}}

