#assets-editor 
  +positionable  
  :bottom 0
  #title-wrapper
    :width 100%
    :border-bottom 2px solid #444  
    :background white 

#asset-editor  
  // +positionable 
  :position relative
  +box-shadow(0, 0, 12px, #333)
  // +border-radius(3px)
  // :border 0 solid hsla(0,0,72,0.54)
  // :width 94%
  // :max-width 960px
  :margin 20px auto
  // :bottom auto
  :padding 0
  :z-index 100
  :overflow visible
  a
    :color white
  .image-display
    +clearfix
    
    img
      // :width 100%
      :float left
  .image-info  
    +positionable 
    :overflow hidden
    :top auto
    :height 120px
    :padding 0
    :color white
    :background hsla(0,0,0,0.5)
    form
      :width auto
      :margin 0
    input
      :border none
      :color white
      :width 100%
      :background transparent
      :font
        :family $headline-fonts
        :size 2em
  .field
    :margin 0 10px
  .actions
    :position absolute
    :bottom 0
    :right 0
    :width 170px
    :height 42px
    input
      +border-radius(5px)
      :padding 0 12px
      :width auto
      :background hsla(192,89,34.5,0.72)
      :font-size 1.4em
        

