#editor    
  +positionable 
  :z-index 10
  :left 300px
  &.open
    :left 24px
  // :overflow auto     
  .section
    :color #ddd   
    :padding 0.3em 0.5em  
    :font
      :size 4em
      :weight 200
  // :background rgba(255,255,255,0.9)
  label
    :display block 
    
  #code-editor 
    +positionable
    :top 72px
    :overflow hidden
    .tabs     
      :font-size 1.4em 
      :height 38px     
      :border-bottom 1px solid #444
      :background
        :color #eee
      label
        :display inline-block     
      input    
        +border-radius(0) 
        +positionable  
        :bottom auto
        :width auto 
        :border none  
        :margin 0
        :padding 0
        :background transparent
        :font-size 1.0em  
        :padding 6px 0 3px 16px        
      input:focus
        :background white
  .buttons   
    +positionable
    :right 0  
    :left 0  
    :top auto
    :height 80px 
    :border-top 1px solid #444
    #layout-filter
      :position absolute
      :left 10px 
      :top 10px     
      :font-size 1.4em
      :display none
    #save-layout
      :position absolute
      :right 20px 
      // :left 90px
      :top 6px   
      :padding-left 16px   
      :padding-right 16px
  .code 
    +positionable
    :bottom 80px
    textarea 
      :border none
      :padding 0    

  // .Layout
  //   .code
  //     :right 200px
  //   .buttons
  //     :right 200px
  .Stylesheet      
    .buttons
      #layout-filter 
        :display block
  #parts 
    :position absolute
    :bottom 0
    :top 72px
    :right 0                  
    :left 0  
    :border-left 1px solid #ccc     
    :background #ddd
    
    // #add-layout-part
    //   :position absolute
    //   :bottom 0
  
#layout_content
  +positionable  
  :bottom 0
  :top 0
  :line-height 1.6
