#toggle
  :position absolute
  :top 0
  :left 300px
  :background #333
  :padding 10px
  :z-index 10
  &.open
    :left 24px
  a 
    :color white
    :display block
    :height 100%
    :width 100%
    :cursor pointer
#sidebar 
  +box-shadow(0, 0, 6px, #555)
  +positionable  
  :right auto
  :padding 0
  :width 300px     
  :overflow-y auto
  :overflow-x hidden
  :background 
    :color #333 
  :z-index 10
  // Closed state of Sidebar
  &.closed
    :width 24px
  a
    :color #bbb
    :text-decoration none
  
  #layouts
    :width 260px
    :margin 20px
    h2
      :margin 18px 0 4px 0
    ul
      +border-radius(3px)
      +box-shadow(0, 0, 4px, #444)
      li
        :padding 4px
  ul#pages
    :width 300px
    :margin 0
    :font-family $headline-fonts
    :text-transform uppercase
    :letter-spacing 0.12em
    li
      .item   
        // +border-radius(3px)
        // +box-shadow(0, 0, 4px, #000)
        :position relative
        :margin 0 0
        :padding 9px 18px
        :border solid #222
        :border-width 0 0 1px 0
        // :background #333
        +gradient(#383838, #333)
        .opener
          :position absolute
          :color #bbb
          :height 16px
          :width 16px
          :top 4px
          :left 3px
          :cursor pointer
        .title
          a
            :color #bbb
            :display inline-block
            :padding 6px 0 
            :text-decoration none
        .modify
          :display inline-block
          :float right
          :margin 6px 6px 0 0
          :width 3em
          :text-align right
          a
            :color #bbb
            :text-decoration none
      .item:hover
        :-webkit-box-shadow rgba(0,0,0,1) 0px 0px 4px inset
        :background #252525
    li.active 
      .item
        :-webkit-box-shadow rgba(0,0,0,1) 0px 0px 4px inset
        :background #252525
        a 
          :color #eee
      li
        .item
          :-webkit-box-shadow none
          :background #333
          +gradient(#383838, #333)
          a 
            :color #bbb
        .item:hover
          :-webkit-box-shadow rgba(0,0,0,1) 0px 0px 4px inset
          :background #252525
          a 
            :color #bbb
          // +gradient(#333, #000)