<div class="modal-editor fade-in">
  {{#part}}   
    <form method='post' action="#/pages/{{page_id}}/parts/{{id}}" enctype='multipart/form-data' id='edit-page'>
      <div class="hidden">
        <input type="hidden" name="_method" value="put" /> 
        <input type='hidden' name='part[id]' id='part-{{id}}-id' value="{{id}}" class='hidden' />
        <input type='hidden' name='part[name]' id='part-{{id}}-name' value="{{name}}" class='hidden' />
        <input type='hidden' name='base_id' id='base-{{id}}' value="{{base_page_id}}" class='hidden' />
      </div>
      
      <div class="field">
        <textarea type='text' name='part[content]' id='part-{{id}}-content' class='textarea'>{{content}}</textarea>
      </div>
      
      <div class="buttons">
        <input type='submit' value="Save" class='button html-only' />
        <a href="#/pages/{{page_id}}" class="cancel verlag-editor">Cancel</a>
      </div>
    </form>  
  {{/part}}
</div>