<div class="small-modal">
  {{#page}}   
    <h2>New Part</h2>
    <form method="post" action="/pages/{{id}}/parts" enctype="multipart/form-data" id="create-part">
      <div class="hidden">                   
        <input type="hidden" name="part[page_id]" id="part_page_id" value="{{id}}" class="textfield" />
      </div>
      <div class="field">
        <label for="part_name">Name</label>
        <input type="text" name="part[name]" id="part_name" value="" class="textfield" />
      </div>
      <div class="buttons">
        <input type="submit" value="Create" class="button html-only" />
        <a href="#/pages/{{id}}/edit" class="cancel">Cancel</a>
      </div>
    </form>  
  {{/page}}
</div>
