{{#part}}   
  <h2>Remove Part</h2>
  <form method='post' action="/pages/{{page_id}}/parts/{{id}}" enctype='multipart/form-data' id='create-part'>
    <div class="hidden">                   
      <input type="hidden" name="_method" value="delete" />
    </div>
    <div class="note"> 
      <h2>{{page_id}} : {{id}}</h2>
      Are you sure you want to delete this part?
    </div>
    <div class="buttons">
      <input type='submit' value="Delete" class='button html-only' />
      <a href="/pages/{{page_id}}/edit" class="cancel">Cancel</a>
    </div>
  </form>  
{{/part}}