<li id="asset-{{id}}" class="asset">
  <div class="image">
    <a href="{{admin_path}}{{query_path}}" id="edit-asset-{{id}}" class="js-show">
    {{# is_image }}
      <img src="{{image_path}}?w=240&amp;h=180&amp;c=t&amp;g=North" alt="{{title}}" />
    {{/ is_image }}
    {{^ is_image }}
      {{ ext }}
    {{/ is_image }}
    </a>
  </div>
  <p>{{ title }} {{ file_type }}<br />
  <a href="{{admin_path}}/remove" class="remove-icon js-remove" data-id="{{ id }}">remove</a></p> 
</li>