<div id="assets-editor">
  
  <div class="toolbar">
    <form action="/admin/assets" enctype="multipart/form-data" class="upload-asset" method="post">
      <div class="hidden">
        <input name="limit" value="12" type="hidden" />
        <input name="asset[folder_id]" id="asset_folder_id" value="{{folder_id}}" type="hidden" />
      </div>
      <div class="filefield">
        <div class="uploader">
          <input id="ajax_uploader" name="asset[file]" type="file" />
        </div>
        <label for="ajax_uploader">Upload Images</label>
        <input type="submit" value="Save" class="button html-only" />
      </div>
    </form>
    <form action="/admin/assets" class="search-form" method="get">
      <div class="field">
        <input class="textfield" id="search-query" placeholder="Search" name="query" type="text" value="{{query}}">
        <input class="button search" type="submit" value="Search">
      </div>
    </form>
  </div><!--toolbar -->

  <ul id="assets" class="unstyled">
    {{#assets}}
      {{> asset }}
    {{/assets}}
  </ul>
</div>

