<div id="overlay">
  <div class="modal">

    <h1>Upload Assets</h1>
       
    <form action="/admin/assets" enctype="multipart/form-data" class="js-create form-horizontal" method="post">
      
      <div class="control-group">
        <label class="control-label" for="name">Name</label>
         <div class="controls">
           <input type="text" id="name" name="name" value="" class="textfield" />  
         </div>
      </div>
      
      <div class="control-group">
        
        <label class="control-label" for="ajax-uploader">Choose a file</label>
        <div class="controls">
          <input id="ajax-uploader" name="file" type="file">
        </div>
      </div>
      
      <div class="form-actions">
        <button type="submit" class="btn js-create">Upload</button>
        <a href="/admin/assets" class="close">Cancel</a> 
      </div>
      
    </form>  

  </div>
</div>