<div class="toolbar">
  <a class="js-new-folder" data-id="{{ id }}" href="/admin/folders/new">New Folder</a>
  <a class="js-new-asset" data-id="{{ id }}" href="/admin/assets/new">New Asset</a>
</div><!--toolbar -->

