<aside id="sidebar">
  
</aside>

<section id="main">
  {{# page }}  
  <h1 id="page-title-{{id}}">{{ title }}</h1>
  <a class="btn js-settings">Settings</a>
  <a class="btn js-new-child">Add Child</a>
  <a class="btn js-remove">Remove</a>
 
  <div class="content">
    {{# parts }}
      <h2>{{ name }}</h2>
      <div class="content" id="part-{{ id }}">
        {{{ render }}}
      </div>
    {{/ parts }}
  </div>
  {{/ page }}
</section>

