<div class="hidden">
  <input type="hidden" id="parent_id" name="parent_id" value="{{ parent_id }}" class="hidden" />   
</div>

<div class="control-group">
  <label class="control-label" for="page-title">Title</label>
   <div class="controls">
     <input type="text" id="page-title" name="title" value="{{ title }}" class="textfield" />  
   </div>
</div>

<div class="control-group">
  <label class="control-label" for="slug">Slug</label>
   <div class="controls">
     <input type="text" id="slug" name="slug" value="{{ slug }}" class="textfield" />  
   </div>
</div>

<div class="control-group">
  <label class="control-label" for="keywords">Keywords</label>
   <div class="controls">
     <input type="text" id="keywords" name="keywords" value="{{ keywords }}" class="textfield" />  
   </div>
</div>

<div class="control-group">
  <label class="control-label" for="description">Description</label>
   <div class="controls">
     <input type="text" id="description" name="description" value="{{ description }}" class="textfield" />  
   </div>
</div>

<div class="control-group">
  <label class="control-label" for="page-layout">Layout</label> 
  <div class="controls">
    <select id="page-layout" class="select" name="layout_id"> 
      {{# layouts }}
      <option value="{{id}}" {{selected}}>{{name}}</option>
      {{/ layouts }}
    </select>  
  </div>
</div>

{{# parts }}
<div class="control-group">
  <p class="control-label">{{ name }}</p> 
  <p class="controls">
    Description goes here
  </p>
</div>

{{/ parts }}
