{{# model }}
<h1>New Page</h1>  

<div class="hidden">
  <input type="hidden" id="parent_id" name="parent_id" value="{{ parent_id }}" class="hidden" />   
</div>

<div class="control-group">
  <label class="control-label" for="page-title">Title</label>
   <div class="controls">
     <input type="text" id="page-title" name="title" value="" class="textfield" />  
   </div>
</div>

<div class="control-group">
  <label class="control-label" for="slug">Slug</label>
   <div class="controls">
     <input type="text" id="slug" name="slug" value="" class="textfield" />  
   </div>
</div>

<div class="control-group">
  <label class="control-label" for="page-layout">Layout</label> 
  <div class="controls">
    <select id="page-layout" class="select" name="layout_id"> 
      {{# layouts }}
      <option value="{{id}}" {{selected}}>{{name}}</option>
      {{/ layouts }}
    </select>  
  </div>
</div>
{{/ model }}

     
