<tr class="node level-{{level}}" id="page-{{id}}"> 
  <td class="item">
    {{# child? }}{{# children? }}
      <span style="padding-left: {{padding}}px;" class="opener{{# open? }} open {{/ open? }}">+</span>
    {{/ children? }}{{/ child? }}
    <span class="title" style="padding-left: {{padding}}px;"> 
       <a class="js-show" id="edit-{{id}}" data-id="{{id}}" href="{{admin_path}}">{{title}}</a>  
       <a class="js-new"  data-id="{{ id }}" href="{{admin_path}}/new">+</a>  
       {{^ root? }}<a data-id="{{ id }}" class="js-remove" href="{{admin_path}}/remove">x</a>{{/ root? }}
    </span>
    {{# children? }}
    <span class="count" style="padding-left: {{padding}}px;">
      {{child_count}} Children
    </span>
    {{/ children? }}
  </td>
</tr>

{{# children }}
  {{> node }}
{{/ children }}

