{{#user}}
<form action="/admin/users/{{id}}" method= "post" class="command-save autosave">   
  <div class="hidden">
    <input type="hidden" name="_method" value="put" /> 
  </div>
  <div class="field">   
    <label for="user_name">Name</label>
    <input type="text" id="user_name" name="user[name]" value="{{name}}" class="textfield" />  
  </div> 
  <div class="field">   
    <label for="user_email">Email</label>
    <input type="text" id="user_email" name="user[email]" value="{{email}}" class="textfield" />  
  </div>
  <div class="field">   
    <label for="user_email">Password</label>
    <input type="password" id="user_password" name="user[password]" value="{{password}}" class="textfield" />  
  </div>
  {{#is_admin?}}
  <div class="field">  
  Roles go here!
  </div>
  {{/is_admin?}}
  <div class="actions">
    <input type="submit" id="save-user" value="Save" class="button" /> 
    <a href="/admin/users" class="cancel">Cancel</a> 
  </div>
</form>  
{{/user}}