<div id="new-folder-container" class="small-modal">
  <h1>New Folder</h1>  

  <form action="/admin/folders" method= "post">  
    <div class="field">   
      <label for="folder_name">Name</label>
      <input type="text" id="folder_name" name="folder[name]" value="" class="textfield" />  
    </div>
    <div class="buttons">
      <input type="submit" id="folder_save" value="Save" class="button" /> 
      <a href="/admin/assets" class="cancel">Cancel</a> 
    </div>
  </form> 
</div>
