<div id="overlay">
  <div id="new-folder-container" class="modal">
    <h1>New Folder</h1>  
  
    <form id="new-folder" method="post" class="form-horizontal">  
      <fieldset>
        
      <div class="control-group">
        <label class="control-label" for="folder-name">Name</label>
         <div class="controls">
           <input type="text" id="folder-name" name="folder[name]" value="" class="textfield" />  
         </div>
      </div>
      <div class="form-actions">
        <button type="submit" class="btn">Save</button>
        <a href="/admin/assets" class="close">Cancel</a> 
      </div>
      </fieldset>
    </form> 

  </div>
</div>
