<div id="overlay">
  <div class="modal">
    
    <form method="post" class="js-create form-horizontal">  
      {{> form }}
    
      <div class="form-actions">
        <button type="submit" class="btn js-new">Save</button>
        <a href="/admin/assets" class="close">Cancel</a> 
      </div>
    </form>
    
  </div>
</div>
