!!!5
%html
  %head
    %title Galerie Revisited
    %link{ :rel => 'stylesheet', :href => '/css/main.css', :type => 'text/css' }
    - if RACK_ENV == 'production'
      %script{ :src => '/javascripts/admin.min.js', :type => 'text/javascript', :charset => 'utf-8' }
    - else   
      // %script{ :src => '/javascripts/admin.js', :type => 'text/javascript', :charset => 'utf-8' } 
      %script{ :src => '/javascripts/vendor/jquery-1.5.2.min.js', :type => 'text/javascript', :charset => 'utf-8' } 
      %script{ :src => '/javascripts/vendor/modernizr-1.7.min.js', :type => 'text/javascript', :charset => 'utf-8' }   
      %script{ :src => '/javascripts/vendor/sammy.js', :type => 'text/javascript', :charset => 'utf-8' }
      %script{ :src => '/javascripts/vendor/sammy.title.js', :type => 'text/javascript', :charset => 'utf-8' }
      %script{ :src => '/javascripts/vendor/sammy.nested_params.js', :type => 'text/javascript', :charset => 'utf-8' }
      %script{ :src => '/javascripts/vendor/js-model-0.10.1.js', :type => 'text/javascript', :charset => 'utf-8' }
      %script{ :src => '/javascripts/vendor/handlebars.js', :type => 'text/javascript', :charset => 'utf-8' }
      %script{ :src => '/javascripts/models/asset.js', :type => 'text/javascript', :charset => 'utf-8' } 
      %script{ :src => '/javascripts/models/part.js', :type => 'text/javascript', :charset => 'utf-8' } 
      %script{ :src => '/javascripts/models/page.js', :type => 'text/javascript', :charset => 'utf-8' } 
      %script{ :src => '/javascripts/lib/view.js', :type => 'text/javascript', :charset => 'utf-8' }
      %script{ :src => '/javascripts/views/asset_list_view.js', :type => 'text/javascript', :charset => 'utf-8' }
      %script{ :src => '/javascripts/lib/ajax_uploader.js', :type => 'text/javascript', :charset => 'utf-8' }
      %script{ :src => '/javascripts/lib/utilities.js', :type => 'text/javascript', :charset => 'utf-8' }
      %script{ :src => '/javascripts/controllers/assets.js', :type => 'text/javascript', :charset => 'utf-8' }
      %script{ :src => '/javascripts/controllers/pages.js', :type => 'text/javascript', :charset => 'utf-8' }
      %script{ :src => '/javascripts/lib/admin.js', :type => 'text/javascript', :charset => 'utf-8' }    
      
    // This is where the mustache templates are rendered  
    = content :head

  %body
    .wrapper
      #header
        .container
          = content :header
      #preview
        // %iframe#website{ :src => "/" }
      #content
        .container
          = yield  


