- @files.each do |file|
  - filepath = file.gsub(root_path('app/views/'), '').gsub('.mustache', '')
  - filename = filepath.gsub('/','-')
  %script{ :id => filename, :type => 'text/mustache', :charset => 'utf-8' }
    = js_template(filepath)
