{{#site}}
<h1>Edit Site</h1>  

<form action="#/sites/{{id}}" method= "post">   
  <div class="hidden">
    <input type="hidden" name="_method" value="put" /> 
  </div>
  <div class="field">   
    <label for="site_name">Name</label>
    <input type="text" id="site_name" name="site[name]" value="{{name}}" class="textfield" />  
  </div> 
  <div class="field">   
    <label for="site_subdomain">Subdomain</label>
    <input type="text" id="site_subdomain" name="site[subdomain]" value="{{subdomain}}" class="textfield" />  
  </div>
  <div class="buttons">
    <input type="submit" id="page_save" value="Save" class="button" /> 
    <a href="#/sites" class="cancel">Cancel</a> 
  </div>
</form>  
{{/site}} 