#pages
  %h1 Sites
  
  %table#sites
    - @sites.each do |site| 
      %tr.site{ :id => "site-#{site.id}" }
        %td.name
          %a{ :href => "http://#{site.subdomain}.davisapp.dev/admin/#/pages"}= site.name
    