<div id="sites" class="listing">
  <h1>Sites</h1> 
  <ul>
  {{#sites}} 
    <li class="site" id="site-{{id}}"> 
      <div class="item"> 
        <span class="title"> 
           {{name}}
        </span> 
        <span class="modify">                 
          <a class="edit-site" id="edit-site-{{id}}" href="/admin/sites/{{id}}/edit">edit</a>    
        </span>  
      </div>
      <div class="site-form" id="site-form-{{id}}"></div>
    </li>  
  {{/sites}}  
  </ul>
</div>


