<div id="sites">
  <h1>Sites</h1> 
  <ul>
  {{#sites}} 
    <li class="site" id="site-{{id}}"> 
      <div class="item"> 
        <span class="title"> 
           <a href= "http://{{domain}}/admin/#/pages">{{name}}</a>        
        </span> 
        <span class="modify">                 
          <a class="edit-site" id="edit-site-{{id}}" href="#/sites/{{id}}/edit">edit</a> 
        </span>  
      </div>
    </li>  
  {{/sites}}  
  </ul>
</div>
